body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

.container {
  max-width: 75%;
  margin: 20px auto;
  padding: 20px;
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
}

input {
  padding: 10px 5px;
  border-radius: 10px;
  border: 2px black solid;
}

.publisher-list {
  list-style-type: disc;
  columns: 4; 
  column-gap: 20px;
  padding-left: 0; 
}

.publisher-list li {
  margin-bottom: 10px;
}

.search-list {
  list-style-type: disc;
  columns: 4; 
  column-gap: 20px;
  padding-left: 0; 
}

.search-list li {
  margin-bottom: 10px;
}



th[data-column] {
  cursor: pointer;
}
